@use "variaveis";
@use "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: variaveis.$cor-secundaria;
}

a {
  font-style: none;
}

button:hover {
  cursor: pointer;
}
